%title  ゴミapp
.garbage_form
  = form_with model:@garbage, class: "garbage-content__form",id:"garbage_content__form", url: garbage_update_path, local: true do |f|
    .garbage_form__header
      %h2 ゴミ
    .garbage_form__liff#liff
    .garbage_form__content
      .garbage_form__content__box
        .garbage_form__content__box__title
          %h3 ゴミの種類
        .garbage_form__content__box__form
          = f.collection_select :garbage_type_id, GarbageType.all, :id, :name, { include_blank: '未選択' }, class: "type__selecter" , id: "type_selecter", required: ""
      .garbage_form__content__box
        .garbage_form__content__box__title
          %h3 週
        .garbage_form__content__box__form
          = f.collection_select :nth_id, Nth.all, :id, :name, { include_blank: '未選択' }, class: "nth__selecter" , id: "nth_selecter", required: ""
      .garbage_form__content__box
        .garbage_form__content__box__title
          %h3 曜日
        .garbage_form__content__box__form
          = f.collection_select :wday_id, Wday.all, :id, :name, { include_blank: '未選択' }, class: "wday__selecter" , id: "wday_selecter", required: ""
        .garbage_form__content__box__form
          = f.hidden_field :id, id: "g_id"
          = f.hidden_field :line_id, id: "g_line_id"
    .garbage_form__done
      = f.submit "編集する", id:"garbage_done"